<header class="bg-gray-50 shadow-lg">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">

    <div class="flex items-center">
      <a class="text-2xl font-bold cursor-pointer" routerLink="/"> <img src="Logo-NEURODIVERSOS.png" class="w-24 h-auto" alt="Logo de la aplicación">
      </a>
    </div>

    <div class="md:hidden">
      <button (click)="toggleMenu()" class="text-gray-700 focus:outline-none" aria-label="Abrir menú">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>

    <nav class="hidden md:flex space-x-6">
      <a (click)="goToSection('inicio')" class="hover:text-yellow-400 transition duration-200 py-1 cursor-pointer">Inicio</a>
      <a (click)="goToSection('nosotros')" class="hover:text-yellow-400 transition duration-200 py-1 cursor-pointer">Nosotros</a>
      <a (click)="goToSection('servicios')" class="hover:text-yellow-400 transition duration-200 py-1 cursor-pointer">Servicios</a>
      <a (click)="goToSection('planes')" class="hover:text-yellow-400 transition duration-200 py-1 cursor-pointer">Planes</a>
      <a (click)="goToSection('contacto')" class="hover:text-yellow-400 transition duration-200 py-1 cursor-pointer">Contacto</a>
    </nav>
  </div>

  <div *ngIf="isMenuOpen" class="md:hidden px-4 pb-4 space-y-2">
    <a (click)="goToSection('inicio'); toggleMenu()" class="block text-gray-700 hover:text-yellow-400 cursor-pointer">Inicio</a>
    <a (click)="goToSection('nosotros'); toggleMenu()" class="block text-gray-700 hover:text-yellow-400 cursor-pointer">Nosotros</a>
    <a (click)="goToSection('servicios'); toggleMenu()" class="block text-gray-700 hover:text-yellow-400 cursor-pointer">Servicios</a>
    <a (click)="goToSection('planes'); toggleMenu()" class="block text-gray-700 hover:text-yellow-400 cursor-pointer">Planes</a>
    <a (click)="goToSection('contacto'); toggleMenu()" class="block text-gray-700 hover:text-yellow-400 cursor-pointer">Contacto</a>
  </div>
</header>